{% extends "base.html" %}


{% block zuo %}

<ul class="xianshi_zuo">
    <li>{{ nickname }},你好</li>
    <li><a href="/weibo/zeng" class='tmz_button'>发表微博</a></li>
    <li><a href="/weibo/gai" class='tmz_button'>修改微博</a></li>
    <li><a href="/weibo/shan" class='tmz_button'>删除微博</a></li>
    <li><a href="/user/logout" class='tmz_button'>退出登录</a></li>
</ul>

{% endblock %}


{% block content %}

<ul class="xianshi">
    {% for i in l %}
    <li >
        <h1>
            <a href="/hudong/check_user?nickname={{ i.nickname }}">{{ i.nickname }}:</a>   
            <a href="/hudong/pinglun?eid={{ i.id }}" class='pinglun'>评论</a>
            
            {% if i.id in z%}
                <a href="/hudong/dianzan?wid={{ i.id }}" class="pinglun">取消点赞</a>
            {% else %}
                <a href="/hudong/dianzan?wid={{ i.id }}" class="pinglun">点赞</a>  
            {% endif %}
            
           <span class="pinglun">点赞数量：{{ i.thumb_num }}</span>
        
        </h1>
        <span>{{ i.updated }}</span>
        <p class='wb_cont'>{{ i.cont }}</p><hr>
        {% for pl in h %}
            {% if pl.eid == i.id %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% if pl.hid == 0 %}
                    <p class="pl">
                        {{ pl.aname }} 评论: {{ pl.cont }} 
                        {% if pl.aname != session['nickname'] %}
                            <a href="/hudong/huifu?h_id={{ pl.id }}">回复</a>
                        {% endif %}
                    </p>
                {% else %}
                    <p class="pl">
                        {{ pl.aname }} 回复 {{ pl.hname }}: {{ pl.cont }} 
                        {% if pl.aname != session['nickname'] %}
                            <a href="/hudong/huifu?h_id={{ pl.id }}">回复</a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </li>
        
    {% endfor %}
</ul>



{% endblock %}