{% extends "base.html" %}


{% block zuo %}

<ul class="xianshi_zuo">
    <li>{{ nickname }},你好</li>
    <li><a href="/weibo/zeng">发表微博</a></li>
    <li><a href="/weibo/gai">修改微博</a></li>
    <li><a href="/weibo/shan">删除微博</a></li>
    <li><a href="/user/logout">退出登录</a></li>
</ul>

{% endblock %}


{% block content %}
    <div class='info'>
        <div>
            <h1>用户名：{{ user.nickname }}</h1>
            <a href="/hudong/guanzhu?fid={{ user.id }}" class='guanzhu'>{{ g }}</a>
        </div>
        
        <h3>生日：{{ user.birthday }}</h3>
        <h5>关注数：{{ user.follow_num }}</h5>
        <h5>粉丝数：{{ user.fans_num }}</h5>
    </div>


{% endblock %}